Repository mysociety/whatdotheyknow-theme, pull requests merged in 2020-04, with the labels that each got.

#673 Add Sevenoaks responder as invalid reply address
  lib/model_patches.rb
Labels: 5 - awaiting review

#671 Minor edits to the WhatDoTheyKnow help pages
  lib/views/help/about.html.erb
  lib/views/help/privacy.html.erb
  lib/views/help/requesting.html.erb
Labels: 5 - awaiting review, help-pages

#675 Add ScotlandLateCalculator
  lib/model_patches.rb
  lib/scotland_late_calculator.rb
  spec/model_patches_spec.rb
Labels: 3 - current sprint

#678 Add stats on success of internal reviews to 'unhappy' help page
  lib/views/help/unhappy.html.erb
Labels: 5 - awaiting review, help-pages
